{
 "0": 
  {
	"name" : "Router name",
	"description" : "Router description",
	"ip"   : "1.2.3.4",
	"port" : 8729,
	"api_ro_user"    : "api_ro", 
	"api_ro_pass"    : "pa$$w0rd1",
	"api_rw_user"    : "api_rw", 
	"api_rw_pass"    : "pa$$w0rd2,
	"api_ssl_verify" : false
  },
}	